/* ********************************** */

.loader {
  --border-size: 0.8em;
  --border-back-color: rgba(147, 147, 147, 0.2);

  margin-inline: auto;

  border-left: var(--border-size) solid #676767;
  border-top: var(--border-size) solid var(--border-back-color);
  border-right: var(--border-size) solid var(--border-back-color);
  border-bottom: var(--border-size) solid var(--border-back-color);

  animation: load8 1.1s infinite linear;
}

.loader {
  width: 3em;
  height: 3em;

  border-radius: 50%;
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
